* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  background-color: rgb(18, 18, 30);
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

nav{
  width: 100wv;
  height: 100px;
  position: absolute;
  top: 50px;
}
nav ul {
  font-size: 32px;
  display: flex;
  align-items: center;
  list-style-type: none;
 
}

nav ul li a {
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
  font-size: 32px;
}

main {
  margin: 10px auto;
  width: 50%;
  min-height: 500px;
  padding: 50px;
  background: #ddd;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "a a a b b"
    "a a a b b"
    "c c d d d"
    "c c e e e";
}

.box_a {
  height: 100%;
  background-color: blue;
  grid-area: a;
}
.box_b {
  height: 100%;
  background-color: rgb(208, 255, 0);
  grid-area: b;
}
.box_c {
  height: 100%;
  background-color: rgba(21, 255, 0, 0.603);
  grid-area: c;
}
.box_d {
  height: 100%;
  background-color: rgb(0, 204, 255);
  grid-area: d;
}
.box_e {
  height: 100%;
  background-color: rgb(231, 21, 214);
  grid-area: e;
}
